images/gifs/TLP_pig_helperAndMinimap.gif filter=lfs diff=lfs merge=lfs -text
images/gifs/TLP_common_chatting.gif filter=lfs diff=lfs merge=lfs -text
images/gifs/Main.gif filter=lfs diff=lfs merge=lfs -text
